.advantage {
    background: #0456fb;

    .advantage__container {
        padding: 58px 0px;

        display: flex;
        gap: 30px;

        .advantage__item {
            width: calc(33% - 20px);
            display: flex;
            flex-direction: column;
            text-align: center;

            gap: 27px;

            .item__number {
                color: #fff;
                text-align: center;
                font-size: 50px;
                font-weight: 700;
                line-height: normal;

                @media (max-width: 1024px) {
                    font-size: 42px;
                }
                @media (max-width: 768px) {
                    font-size: 28px;
                }

                @media (max-width: 476px) {
                    font-size: 16px;
                }
            }

            .item__description {
                color: #fff;
                text-align: center;
                font-size: 24px;
                font-weight: 500;
                line-height: 150%;

                @media (max-width: 1024px) {
                    font-size: 20px;
                }
                @media (max-width: 768px) {
                    font-size: 18px;
                }

                @media (max-width: 476px) {
                    font-size: 14px;
                }
            }
            @media (max-width: 768px) {
                width: 100%;
                gap: 10px;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 32px;
        }
        @media (max-width: 476px) {
            flex-direction: column;
            padding: 24px;
        }
    }
}
