.footer {
    margin-top: 100px;
    background: #0b0a1b;
    padding: 40px 0;

    @media (max-width: 768px) {
        margin-top: 50px;
    }
    @media (max-width: 476px) {
        margin-top: 32px;
    }

    .footer__conainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 70px;
    }

    .footer__left {
        display: flex;
        flex-direction: column;

        .left__adress {
            margin-top: 33px;
            min-width: 145px;

            p {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                line-height: 200%;

                @media (max-width: 1024px) {
                    font-size: 16px;
                }
                @media (max-width: 768px) {
                    font-size: 14px;
                }
                @media (max-width: 476px) {
                    font-size: 10px;
                    line-height: 140%;
                }
            }
        }
    }

    .footer__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right__info {
        // margin-top: 41px;

        color: #fff;
        text-align: right;
        font-size: 18px;
        font-weight: 500;
        line-height: 200%;

        @media (max-width: 1024px) {
            font-size: 16px;
        }
        @media (max-width: 768px) {
            font-size: 14px;
        }
        @media (max-width: 476px) {
            font-size: 10px;
            line-height: 140%;
        }

        a {
            transition: color 0.2s;
        }

        a:hover {
            color: #999696;
        }
    }

    @media (max-width: 476px) {
        padding: 18px 0;
    }
}
